<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingcloud.data.mapper.DataMapper">
    <resultMap id="sys_sql_analysis_map" type="com.mingcloud.data.entity.SysSqlAnalysisEntity">
        <result property="id" column="id"></result>
        <result property="parameter" column="parameter"></result>
        <result property="sqls" column="sqls"></result>
    </resultMap>
    <parameterMap id="data_base_entity_map" type="com.mingcloud.data.entity.DataBaseEntity"></parameterMap>
    <parameterMap id="sys_sql_analysis_entity_map" type="com.mingcloud.data.entity.SysSqlAnalysisEntity"></parameterMap>
	<select id="existTable" resultType="int" parameterMap="data_base_entity_map">
		select count(*)
        from information_schema.TABLES
        where LCASE(table_name)=#{tableName}
        and table_schema = #{dataBaseName}
	</select>
    <delete id="dropTable" parameterMap="data_base_entity_map">
        DROP TABLE ${tableName}
    </delete>

    <update id="createTable" parameterMap="data_base_entity_map">
        CREATE TABLE ${tableName}  (
            `id` int(11) NOT NULL AUTO_INCREMENT COMMENT '主键',
            `parameter` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL COMMENT '请求参数',
            `sqls` varchar(255) CHARACTER SET utf8 COLLATE utf8_general_ci NULL DEFAULT NULL COMMENT '完整sql 语句',
            PRIMARY KEY (`id`) USING BTREE
        ) ENGINE = InnoDB AUTO_INCREMENT = 1 CHARACTER SET = utf8 COLLATE = utf8_general_ci ROW_FORMAT = Dynamic;
    </update>
    <insert id="insertRecordSql" parameterMap="sys_sql_analysis_entity_map">
        insert into sys_sql_analysis (parameter,sqls)
        values (#{parameter},#{sqls})
    </insert>

    <select id="selectSqls" parameterMap="data_base_entity_map" resultMap="sys_sql_analysis_map">
        select * from ${tableName}
    </select>

    <select id="selectBySqls" parameterMap="sys_sql_analysis_entity_map" resultType="java.lang.Integer">
        select count(id) from ${tableName} where sqls = #{sqls}
    </select>

    <insert id="selectDataInto" parameterType="java.util.Map">
        insert into
        <if test="tableMap.newTable != null and tableMap.newTable != ''">
            ${dataBaseMap.newDataBase}.${tableMap.newTable}
        </if>
        <foreach collection="columnMap" separator="," item="key" open="(" close=")" index="index">
            ${key}
        </foreach>
        select
        <foreach collection="columnMap" separator="," index="key" item="value">
            ${value}
        </foreach>
        from
        <if test="tableMap.oldTable != null and tableMap.oldTable != ''">
            ${dataBaseMap.oldDataBase}.${tableMap.oldTable}
        </if>
    </insert>

</mapper> 